fastapi>=0.110,<1
uvicorn[standard]>=0.23,<1
starlette>=0.36,<1

dash>=2.15,<3
dash-bootstrap-components>=1.5,<2
plotly>=5.18,<6

pandas>=2.0,<3
numpy>=1.23,<3
scikit-learn>=1.3,<2
yfinance>=0.2.33,<1

tensorflow>=2.16,<2.18
